---
layout: floors.njk
title: Мастерская — Tummo Room
heading: Мастер-классы<br>и коворкинг
photoSet: workshops
---

<div class="fl-text" data-txt>
  Туммо — камерная студия керамики в Волгограде, на ул. Лавочкина, 7, в уютной квартире
  с видом на Волгу
</div>

<div class="fl-slot" data-slot><img alt=""></div>

<div class="fl-text" data-txt>
  Здесь можно повзаимодействовать с глиной в разных форматах мастер-классов:
  <ul class="fl-list">
    <li>по ручной лепке</li>
    <li>на гончарном круге</li>
    <li>по росписи готовых изделий</li>
  </ul>
  <p class="fl-p">Есть коворкинг для тех, кто уже разбирается в гончарстве</p>
</div>

<div class="fl-slot" data-slot><img alt=""></div>

<div class="fl-text" data-txt>
  Во время занятий будем пить вкуснейший китайский чай, замедляться и отдыхать от будничной суеты
</div>

<div class="fl-slot" data-slot><img alt=""></div>

<div class="fl-text" data-txt>
  Мастер-класс стоит 1800 ₽ с человека, занятие длится два часа или больше, в зависимости
  от сложности задумки.
  Повторная встреча на глазуровку считается по количеству и размеру изделий:
  пиала — 350 ₽, кружка — 500 ₽, тарелка — 700 ₽.
  <p class="fl-p">Коворкинг стоит 400 ₽ в час: материалы и бисквитный обжиг включены в стоимость,
  глазурный обжиг оплачивается отдельно</p>
</div>

<div class="fl-slot" data-slot><img alt=""></div>

<div class="fl-text" data-txt>
  Групповые мастер-классы для вас и ваших родных, друзей или коллег тоже с радостью проведу,
  комфортная посадка до 8 человек. Но специально группы не собираю, поэтому нет расписания,
  день и время подбираем для вас индивидуально.
  <p class="fl-p">Мастерскую можно также арендовать под своё мероприятие.</p>
  <p class="fl-p">По всем вопросам <a href="https://vk.me/librocubic">пишите мне в VK</a></p>
</div>
